body
{
	font: 1.25em "Trebuchet MS",Arial,sans-serif;
	background-color: FireBrick;
	color: White;
}

#main_text{
	text-align: center ;
	font-size: 1.25em;
}

#plain_text{
	font-size: 0.9em;

	margin-right: 10%;
	margin-left: 10%;

	text-align: justified;
	text-justify: auto;
}

#email{font-size: 1em;}
#pwd{font-size: 1em;}

#deux_blocs{
	width: 45%;
	float : left;
	margin-right: 25px;
}

#input_inscription_form {
	font-size: 1em;
	width: 50%;
	float:right;
	line-height: 1.5em;
	margin-top: 2px;
}

#text_inscription_form{
	color: red;
	line-height: 2em;
	margin-left: 10%;
}

#bouton{
	padding: 4px 25px;
	margin-right: 25px;

	background: #c00;
	color: #fff;
	border: 1px solid #600;
	line-height: 2em;
	text-align: center ;
	text-decoration: none;
}

#menu_horizontal li {
	display: inline ;
}

#menu_horizontal li a {
	display: inline;
	padding: 4px 50px ;
	background: #c00;
	color: #fff;
	border: 1px solid #600;
	text-align: center ;
	text-decoration: none;
}

#menu_horizontal li a:hover, #navigation li a:focus, #navigation li a:active {
	background:red;
	color:yellow;
	text-decoration: underline;
}

#query_menu{
	float:left;
	background-color:blue;
	height: 32vw;
	width: 27vw;
}

#text_query_form{
	color: #fff;
	margin-left: 3%;
	font-size:0.9em;
	margin-bottom:2%;
}

#text_query_area_form{
	float:right;
	margin-right:5%;
	width: 45%;
	margin-bottom:2%;
}


#scrollable_div{
	float:left;
	background-color:red;
	height: 80vh;
	width: 35%;
	margin-left: 1%;
	overflow:auto;
}
